{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>Missing Persons</h1>
    <!-- The table containing all the data from the rubric sheet -->
        <table class="table table-bordered table-hover table-condensed">
        <thead>
            <tr>
                <th title="Field #1">date_missing</th>
                <th title="Field #2">Last Name</th>
                <th title="Field #3">First Name</th>
                <th title="Field #4">Age at Missing</th>
                <th title="Field #5">City</th>
                <th title="Field #6">State</th>
                <th title="Field #7">Gender</th>
                <th title="Field #8">Race</th>
            </tr>
        </thead>
        
        <tbody>
            {% for people in data %}
            <tr>
                <td>{{people.date_at_missing}}</td>
                <td><a href="{% url 'individual' id=people.id %}">{{people.last_name}}</a></td>
                <td>{{people.first_name}}</td>
                <td align="right">{{people.missing_age}}</td>
                <td>{{people.city}}</td>
                <td>{{people.state}}</td>
                <td>{{people.gender}}</td>
                <td>{{people.race}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
