{% extends 'base.html' %}
{% load static %}
{% block content %}
   <h1 style="text-align: center; background-color: #f2f2f2; padding: 20px; font-family: Arial, sans-serif; font-size: 36px; margin: 0;">You Can Help</h1>
    <p style="text-align: center; font-size: 16px; line-height: 1.5; font-family: 'Helvetica Neue', sans-serif; color: #333;">
        In the United States, an estimated 600,000 to 800,000 people are reported missing every year. <br> Approximately 60% of missing persons are adults, while 40% are children.
    </p>
{% endblock %}

