{% extends 'base.html' %}
{% block content %}

<h1 style="text-align: center;">{{data.first_name}}  {{data.last_name}}</h1>
<center>
    <form>
        <label>Missing Date</label>
        <input type="text" value="{{data.date_at_missing}}" readonly>
        <br>
        <label>Age at Missing</label>
        <input type="text" value="{{data.missing_age}}" readonly>
        <br>
        <label>City</label>
        <input type="text" value="{{data.city}}" readonly>
        <br>
        <label>Gender</label>
        <input type="text" value="{{data.gender}}" readonly>
        <br>
        <label>Race</label>
        <input type="text" value="{{data.race}}" readonly>
        <br>
        <label>Have any tips?</label>
        <input type="text" value="">
        <br>
        <input type="submit">
        
    </form>
</center>
{% endblock %}
