{% extends 'base.html' %}
{% load static %}
{% block content %}
<header>
    <h3 style="text-align: center;">National Human Trafficking Hotline: 1-888-373-7888</h3>
</header>
    <fieldset>
        <center><iframe width="560" height="315"  src="https://www.youtube.com/embed/TQFQqU3O9GM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></center>
    </fieldset>
    <br>
    <center><fieldset style="width: 1000px;">
        <u><h2 style="text-align: center;">5 Ways you can protect help fight human trafficking</h2></u>
        <ul>
            <h3>Understand the risk factors.</h3> To prevent individuals from being exploited, it's important to recognize the risk factors and indicators of human trafficking. You should seek to better understand the victim's perspective.
            <h3>Know what to do and who to contact to report it.</h3> Share resources with your community at local events and public gatherings. You can report suspected human trafficking to federal law enforcement by calling 1-866-347-2423. You can get help from the National Human Trafficking Hotline at 1-888-373-7888.
            <h3>Expand awareness in your community.</h3> Educate yourself and your faith community on what human trafficking is and how to recognize the signs of exploitation of another person.
            <h3>Understand how vulnerable communities are impacted.</h3> Not every person has equal access to the resources they need. You can help make sure they do.
            <h3>Take a stand and wear blue.</h3> January 11 is Human Trafficking Awareness Day. Wear blue to help spread awareness.
        </ul>
    </fieldset></center>
{% endblock %}